.menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  height: 53px;
  border-radius: 30px;
  border: 1px solid rgba(108, 108, 108, 0.1);
  z-index: 100;
}

.icon {
  width: 21px;
  height: 21px;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.2s ease;
}

.icon:hover {
  opacity: 0.8;
}

.active {
  opacity: 1;
  transform: scale(1.1);
}
