.searchedProducts {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fff;
  margin-top: -15px;
  padding-top: 16px;
}
.goButton {
  background-color: #292928;
  color: #fff;
  border: none;
  height: 29px;
  border-radius: 20px;
  position: absolute;
  top: 47px;
  right: 10px;
  font-size: 11px;
  padding: 0 14px;
}
